<!-- slider.html -->
<div id="sheader">
    <div id="sheaderheader"></div>
    <span id="apptitle"> Yal§ </span><br/>
    <small id="apptitle_caption">Lightweight LinkedIn Profile Scraper</small>
    <br />
    <span id="name_title" style="font-size:20px; font-weight: bold;"></span>
    <!-- Deepscan toggle button -->
    <!-- <div class="internal_button sticky_buttons" id="deepscan_toggle_button">Deepscan Disabled</div> -->

    <!-- <div class="internal_button sticky_buttons" id="clear_text_button">Clear Text?</div> -->
    <br/>
</div>

<div id="sbodycontainer">
    <br/><br/>
    <!-- <span style="font-size: 10px"><i>This textbox extracts if you scroll the slider menu.</i></span> -->
    <h2> Basic Profile Data </h2>
    <div class="textareaparent">
        <textarea id="basicprofile"></textarea>
    </div>
    <br/>

    <hr/>
    <br/><h2> Education Section </h2>
    <div class="textareaparent">
        <textarea id="educationtext"></textarea>
    </div>
    <br/>
    <!-- <div class="internal_button" id="education_extract_button">Extract Education</div> -->

    <hr/>
    <h2> Experience Section </h2>
    <div class="textareaparent">
        <textarea id="experiencetext"></textarea>
    </div>
    <br/>
    <!-- <div class="internal_button" id="experience_extract_button">Extract Work Ex</div> -->

    <hr/>
    <h2> Licenses and Certifications </h2>
    <div class="textareaparent">
        <textarea id="certificationstext"></textarea>
    </div>
    <br/>
    <!-- <div class="internal_button" id="certification_extract_button">Extract Certifications</div> -->

    <hr/>
    <h2> Skills </h2>
    <div class="textareaparent">
        <textarea id="skillstext"></textarea>
    </div>
    <br/>
    <!-- <div class="internal_button" id="skills_extract_button">Extract Skills</div> -->
    
    <!-- <div id="savepdf" class="internal_button">Save PDF</div> -->
</div>

<div id="sfooter">
   <div class="internal_button" id="refresh_profile_data_button">
        <svg id="refresh_icon" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 24 24" style="margin-right: 6px;">
            <path d="M12 4V1L8 5l4 4V6c3.309 0 6 2.691 6 6 0 1.197-.354 2.311-.959 3.234l1.518 1.312C19.352 15.045 20 13.584 20 12c0-4.418-3.582-8-8-8zm-6 6c0-1.197.354-2.311.959-3.234L5.441 5.454C4.648 6.955 4 8.416 4 10c0 4.418 3.582 8 8 8v3l4-4-4-4v3c-3.309 0-6-2.691-6-6z"/>
        </svg> Refresh Profile Data
    </div>
    <div class="internal_button" id="save_profile_data_button">Save Profile Data</div>
</div>

<!-- Link to stylesheet -->
<link rel="stylesheet" type="text/css" href="../css/content.css">