<!-- slider.html -->
<div id="sheader">
    <div id="sheaderheader"></div>
    <span id="apptitle"> Yal§ </span><br/>
    <small id="apptitle_caption">Lightweight LinkedIn Profile Scraper</small>
    <!-- Deepscan toggle button -->
    <!-- <div class="internal_button sticky_buttons" id="deepscan_toggle_button">Deepscan Disabled</div> -->

    <!-- <div class="internal_button sticky_buttons" id="clear_text_button">Clear Text?</div> -->
    <br/>
</div>

<div id="sbodycontainer">
    <br/><br/>
    <!-- <span style="font-size: 10px"><i>This textbox extracts if you scroll the slider menu.</i></span> -->
    <h2> Basic Profile Data </h2>
    <textarea id="basicprofile"></textarea>
    <br/>

    <hr/>
    <br/><h2> Education Section </h2>
    <textarea id="educationtext"></textarea>
    <br/>
    <!-- <div class="internal_button" id="education_extract_button">Extract Education</div> -->

    <hr/>
    <h2> Experience Section </h2>
    <textarea id="experiencetext"></textarea>
    <br/>
    <!-- <div class="internal_button" id="experience_extract_button">Extract Work Ex</div> -->

    <hr/>
    <h2> Licenses and Certifications </h2>
    <textarea id="certificationstext"></textarea>
    <br/>
    <!-- <div class="internal_button" id="certification_extract_button">Extract Certifications</div> -->

    <hr/>
    <h2> Skills </h2>
    <textarea id="skillstext"></textarea>
    <br/>
    <!-- <div class="internal_button" id="skills_extract_button">Extract Skills</div> -->
    
    <!-- <div id="savepdf" class="internal_button">Save PDF</div> -->
</div>

<div id="sfooter">
    <hr/>
    <div class="internal_button" id="save_profile_data_button">Save Profile Data</div>
</div>

<!-- Link to stylesheet -->
<link rel="stylesheet" type="text/css" href="../css/content.css">
